<div class="promo-page">

  <div class="banner">
    <div class="container">
      <h1 class="logo-font">Timeonator</h1>
      <p>Good for your brain <i>breakfast</i> on knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <img src="../../assets/promo-image.jpg" alt=""/>
      </div>
      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>


        </div>
      </div>

    </div>
  </div>
</div>
